<div class="listar-herois">

  <div class="filter">
    <form [formGroup]="form">

      <div class="form-group comic">
        <label for="nameStartsWith"> Nome </label>
        <input type="text" formControlName="nameStartsWith">
        <button (click)="fetchHeroes()">
            Filtrar >
        </button>
      </div>
    </form>
  </div>

  <div class="list">
    <ng-container *ngFor="let hero of (heroes$ | async)">
        <app-hero [hero]="hero"></app-hero>
    </ng-container>
  </div>

</div>
