:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  height: 50px;
  background-color: #222;
  overflow: hidden;
  transition: 0.5s;

  ul {
    flex-shrink: 0;

    li, button {
      display: inline;
      margin-left: 8px;
      padding: 8px 16px 4px 8px;
      border: 0;
      outline: 0;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: transparent;
      background-color: transparent;
      font-family: 'Comic Sans', cursive;
      font-size: 16px;
      color: #ff0;
      cursor: pointer;
      transition: 1s;

      :first-child {
        margin-left: 16px;
      }

      &:hover {
        color: lighten(#ff0, 15%);
        border-bottom-color: darken(#222, 15%);
      }

    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  flex-grow: 1;
  width: 100%;
  height: calc(100vh - 70px);
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: auto;

  .content-wrapper {
    align-self: center;
    min-width: 270px;
    width: 100%;
    max-width: 1024px;
    height: inherit;
  }
}

footer {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #f00;
  color: #222;
  height: 20px;
  font-size: .8rem;
  overflow: hidden;
}
