<div class="banner-wrapper">
  <app-banner [banners]="banners"></app-banner>
</div>

<div class="tab-wrapper">
  <div class="tab" (click)="changeTabTopFive(true)"
    [ngClass]="{'active' : tabTopFive}"
  > Top 5 </div>
  <div class="tab" (click)="changeTabTopFive(false)"
    [ngClass]="{'active' : !tabTopFive}"
  > Favoritos </div>
</div>

<div class="list-top-five" [@openClose]="tabTopFive ? 'open' : 'closed'">
  <ng-container *ngFor="let topFive of (topFiveListed$ | async)">
      <app-hero [hero]="topFive"></app-hero>
  </ng-container>
</div>

<div class="list-favourites" [@openClose]="!tabTopFive ? 'open' : 'closed'">
  <ng-container *ngFor="let hero of (heroesListed$ | async)">
      <app-hero [hero]="hero"></app-hero>
  </ng-container>
</div>
