/* You can add global styles to this file, and also import other style files */
$cell-screen: 614px;
$tablet-screen: 768px;

html, body {
  margin:0;
  padding:0;
  min-width: 400px;
  outline-width: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans', cursive;
  font-size: 16px;
  color: #222;
}

ul, li, ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

div {
  display: block;
}

.form-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;



  @media (max-width: $cell-screen) {
    flex-wrap: wrap;
  }
}

.comic {

  label {
    margin: 4px 8px;
    padding: 4px 8px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
  }

  input[type=text] {
    display: flex;
    margin: 8px 16px;
    padding: 4px 16px;
    text-decoration: none;
    font-family: "Comic Sans", cursive;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #222;
    background-color: #ff0;
    background-image: radial-gradient(darken(#ff0, 15%) 33%, transparent 34%), radial-gradient(darken(#ff0, 15%) 33%, transparent 34%);
    background-size: 4px 4px;
    background-position: 0 0, 4px 4px;
    box-shadow: -4px 4px 0 #999;
    transition: 1s;
    transform: skewX(-10deg);
    outline: none;
    border: 4px solid #000;

    &:focus {
      outline: none;
    }

    &:hover {
      transition: 0.5s;
      box-shadow: 2px 4px 0 darken(#ff0, 15%);
    }
  }

  button {
    display: flex;
    margin: 8px 16px;
    padding: 4px 16px;
    text-decoration: none;
    font-family: 'Comic Sans', cursive;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border: 4px solid #000;
    background: #6225E6;
    box-shadow: -4px 4px 0 #999;
    transition: 1s;
    transform: skewX(-10deg);
    outline: none;
    font-family: 'Comic Sans', cursive;

    &:focus {
      outline: none;
    }

    &:hover {
      transition: 0.5s;
      box-shadow: 2px 4px 0 darken(#ff0, 15%);
    }
  }
}

.no-mobile {
  @media (max-width: $cell-screen) {
    display: none;
  }
}

.no-tablet {
  @media (max-width: $tablet-screen) {
    display: none;
  }
}

span.material-icons {
  padding-left: 4px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
