  <div class="wrapper">

    <div class="item" (click)="setValue(1)">
      <span class="material-icons material-icons-outlined">
        {{ power >= 1 ? 'star' : 'star_border' }}
      </span>
    </div>

    <div class="item" (click)="setValue(2)">
      <span class="material-icons material-icons-outlined">
        {{ power >= 2 ? 'star' : 'star_border' }}
      </span>
    </div>

    <div class="item" (click)="setValue(3)">
      <span class="material-icons material-icons-outlined">
        {{ power >= 3 ? 'star' : 'star_border' }}
      </span>
    </div>
    <div class="item" (click)="setValue(4)">
      <span class="material-icons material-icons-outlined">
        {{ power >= 4 ? 'star' : 'star_border' }}
      </span>
    </div>
    <div class="item" (click)="setValue(5)">
      <span class="material-icons material-icons-outlined">
        {{ power >= 5 ? 'star' : 'star_border' }}
      </span>
    </div>
    <div class="item" (click)="setValue(6)">
      <span class="material-icons material-icons-outlined">
        {{ power >= 6 ? 'star' : 'star_border' }}
      </span>
    </div>
    <div class="item" (click)="setValue(7)">
      <span class="material-icons material-icons-outlined">
        {{ power >= 7 ? 'star' : 'star_border' }}
      </span>
    </div>
    <div class="item" (click)="setValue(8)">
      <span class="material-icons material-icons-outlined">
        {{ power >= 8 ? 'star' : 'star_border' }}
      </span>
    </div>
    <div class="item" (click)="setValue(9)">
      <span class="material-icons material-icons-outlined">
        {{ power >= 9 ? 'star' : 'star_border' }}
      </span>
    </div>
    <div class="item" (click)="setValue(10)">
      <span class="material-icons material-icons-outlined">
        {{ power >= 10 ? 'star' : 'star_border' }}
      </span>
    </div>

  </div>
