.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .item {
    display: flex;
    font-size: 12px;
    cursor: pointer;
    color: darken(#ff0, 15%);
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.15));
  }
}

span.material-icons {
  margin: 0;
  padding: 0;
}
